* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 402px;
    height: 538px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h2 {
    padding: 16px 0px 10px 0px;
}

.search {
    width: 80%;
    height: 30px;
    border: solid 1px #333;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.search input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 6px 20px 6px 40px;
    font-size: 16px;
}

.search i{
    position: absolute;
    padding: 12px;
}

.product {
    height: 80%;
    overflow-y: scroll;
}

.product h3 {
    text-align: center;
}

.product-item {
    display: flex;
    margin-bottom: 14px;
    padding: 10px;
    padding-left: 30px;
}

.product-item:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

.product-item img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 24px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-info h4 {
    padding-bottom: 12px;
}

.hide {
    display: none;
}