* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

button {
    cursor: pointer;
}

section {
    width: 1024px;
    background-color:#e2f3e2;
    border-radius: 10px;
    margin-top: 40px;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.gallery button {
    width: 100px;
    margin: 0px 10px;
    height: 36px;
    border-radius: 18px;
    border: solid 1px #109d58;
    background-color: white;
    color: #109d58;
    font-weight: bold;
}
.gallery button.active {
    background-color: #109d58;
    color: #fff;
}

.gallery button:hover {
    background-color: #109d58;
    color: #fff;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

}

.menu-item {
    width: 230px;
    margin: 10px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
}

.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.5s ;

}

.menu-item:hover img {
    transform: rotate(90deg) scale(1.75);
}

.hidden {
    display: none;
}