* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://www.nodemy.vn/projects/html-css-js/weather-app/hot.png); */
}

.weather {
    width: 350px;
    height: 600px;
    padding: 30px 20px;
    background-color: cadetblue;
    border-radius: 10px;
    background: center/cover;
    
}

.weather.hot {
    background-image: url(https://www.nodemy.vn/projects/html-css-js/weather-app/hot.png); 
}

.weather.cold {
    background-image: url(https://www.nodemy.vn/projects/html-css-js/weather-app/cold.png);
}

.search {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 0px 10px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 5px rgb(0 0 0 / 40%);
    font-size: 20px;
    margin-bottom: 40px;
    
}

.content {

}

.name {
    width: 100%;
    text-align: center;
}

.name span {
    color: white;
    text-shadow: 2px 2px rgb(0 0 0 / 40%);
}

.city {

}

.country {

}

.time {
    margin: 6px 0px;
    text-align: center;
    color: white;
    text-align: center;

}
.temperature {
    text-align: center;
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 4px rgb(0 0 0 / 50%);
    font-size: 60px;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    width: 210px;
    height: 128px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 16px;
    line-height: 45px;
    box-shadow: 4px 4px rgb(0, 0, 0, 0.5);
}

.temperature span{
    
}

.temperature sup{
    font-size: 54px;
}
.short-desc {
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.more-desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    color: white;
    font-size: 16px;
}

.visibility, .wind, .cloud {
    text-align: center;
}

.more-desc > div i {
    margin-bottom: 15px;
}

.wind {

}

.cloud {

}
